{% extends 'base_nav.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'mail/chat.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}


{% block content %}
<!-- Contenedor Principal -->
<div class="comments-container">
    <h1>New Messages <a href="http://creaticode.com">You've got mail!</a></h1>

    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/Akshaya.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Athena</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Happy Birthday, Sojan. I will forever relish the opportunity to desp addikal wichyu. ❤️
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/vats.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Vats</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Happy birthday, you successor of Jeff !
                        May your 22rd be filled with more free goodies, less heart aches(literal ones), and a blue tick on Insta. Do not forget to count your blessings(people of RIP). Grow kinder and keep having fun!
                    </div>
                </div>
            </div>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/vats.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Vats</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Thanks and Regards.. :P
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/suma.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Suma</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        sojannnnnnnnnn!!!!!!!
                        happiesttttt birthdayyy to you!
                        I might have told this lot of times but I will say again , don't know how I would have been without RIP and you are the reason why RIP isn't dead so biggggggg thanks to you and also for not giving up on us and always tagging ❤.  Looking forward to fill your nikspalate page with hyderabadiiiiii food. I'm sure you will definitely enjoy the food here.

                        today is the last day of your probation,  hope you don't get fired😜
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/Athira.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Thira</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Happy Birthday to the saviour of us all , the Ludo Keng and the true sole possessor of the galaxy brain.
                        RIP has not RIP'd because you never gave up on us. Here's to many more late night group convos,  work/life rants, bs ludo games and backyarding. Happy happy birthday Sojan !
                    </div>
                </div>
            </div>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/me.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">SnoopsXoX</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Oh my god. So many praises from everyone. 🤦🏻‍♀️
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/mat.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Mat</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Nice dp, Athira.
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/dash.jpeg' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Snow White</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Happy birthday to the luckiest person in the wooooorrrlllldd. Because you have me. 😘
                    </div>
                </div>
            </div>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/vats.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Vats</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Does he? I thought you were mine.
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/Athira.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Athira</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            😂😂😂
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/mat.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Mat</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            He is the luckiest in the world cause he has me!
                        </div>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/shal.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Shalz</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        You made the quarantine way more bearable and fun than expected. Weekends have become something to look forward to now and it does feel weird when you don't join backyard. Happy Birthday Nikhilll...and yes I'll laugh at every joke of yours always!😌 
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/pooth.jpeg' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Poothery</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        <img src="{% static 'mail/pic1.png' %}" style="width: 50%;">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/me.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">SnoopsXoX</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Happy Birthday. 😴😴
                    </div>
                </div>
            </div>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/shal.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Vats</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Whaaaaa!!! This works too!!! No heartfelt note!! Sed aaki😂
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/mat.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Mats</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Happy Birthday beb. Vaa banglore povaam. Also sapnu puas.
                        <br />
                        And sorry for saying no all the time.
                        <br />
                        <video width="320" height="240" controls>
                            <source src="{% static 'mail/mat.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/vats.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Vats</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            What encrypted message and all
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/pooth.jpeg' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Poothery</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            lol
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="comments-list reply-list">
                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'mail/dash.jpeg' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name">Dashy</a></h6>
                            <span>13 Jan 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Excuse me?
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar"><img src="{% static 'mail/Thomas.png' %}" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Thomas</a></h6>
                        <span>13 Jan 2021</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        * birthday message still loading. We're sure he wishes you a very happy birthday too. *
                    </div>
                </div>
            </div>
        </li>
        
    </ul>
</div>
{% endblock content %}
    