/*

Full-page view:

https://codepen.io/GeorgePark/full/gegavO/

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
  /* Base font size */
  font-size: 10px;

  /* Border color variable */
  --border-color: #e70;
}

* {
  box-sizing: border-box;
}

body {
	background-image: url("ludo.png");
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000; 
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  min-height: 100vh;
  color: #fafafa;
}


h1 {
  font-size: 4rem;
  color: orange;
  text-shadow:0rem 0rem 10rem #e70, 
  0 0 0.5rem var(--border-color)
}

h2 {
  font-size: 2rem;
  color: orange;
  text-shadow:0rem 0rem 10rem #e70, 
  0 0 0.5rem var(--border-color);
  margin-bottom: 2.5rem;
}

p {
	color: orange;
  text-shadow:0rem 0rem 10rem #e70, 
  0 0 0.5rem var(--border-color);
}

.cube-container {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 5rem auto 6rem;
  perspective: 100rem;
}

.cube {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.32, 0.05, 0.35, 1.6);
}

.cube-face-image {
	display: block;
	position: absolute;
	/* opacity: 0.95; */
	/* border: 0.2rem solid #fafafa; */
	box-shadow: 0 0 0.5rem #fff, 
				0 0 0.5rem var(--border-color),
				0 0 1rem var(--border-color);
}

.image-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1.5rem;
  justify-content: center;
}

.image-buttons input {
	border: 0.2rem solid #fafafa;
	height: 150px;
	width: 150px;
}

.image-buttons input:focus {
  outline: none;
  border: 0.2rem solid var(--border-color);
}

/* Transform images to create cube */

.image-1 {
  transform: translateZ(15rem);
  height: 300px;
  width: 300px;
}

.image-2 {
  transform: rotateX(-180deg) translateZ(15rem);
  height: 300px;
  width: 300px;
}

.image-3 {
  transform: rotateY(90deg) translateZ(15rem);
  height: 300px;
  width: 300px;
}

.image-4 {
  transform: rotateY(-90deg) translateZ(15rem);
  height: 300px;
  width: 300px;
}

.image-5 {
  transform: rotateX(90deg) translateZ(15rem);
  height: 300px;
  width: 300px;
}

.image-6 {
  transform: rotateX(-90deg) translateZ(15rem);
  height: 300px;
  width: 300px;
}

/* Transform cube to show correct image */

.cube.initial-position {
  transform: translateZ(-15rem) translateY(-2rem) rotateX(-15deg) rotateY(18deg)
    rotateZ(2deg);
}

.cube.show-image-1 {
  transform: translateZ(-15rem);
  height: 150px;
  width: 150px;
}

.cube.show-image-2 {
  transform: translateZ(-15rem) rotateX(180deg);
}

.cube.show-image-3 {
  transform: translateZ(-15rem) rotateY(-90deg);
}

.cube.show-image-4 {
  transform: translateZ(-15rem) rotateY(90deg);
}

.cube.show-image-5 {
  transform: translateZ(-15rem) rotateX(-90deg);
}

.cube.show-image-6 {
  transform: translateZ(-15rem) rotateX(90deg);
}
